h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: darkgray;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: 0px;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

ul#labs{
    padding: 0;
}

ul#navmenu {
    text-align: center;
    padding: 0;

}

.navmenuslot{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.navmenulink{
    font-size: 25px;
    color: #4f5d61; 
    text-decoration: none;
}
img#maxwell{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul#labs{
    margin: 0;
    padding: 0;
    display:flex;
    align-items: center;
    list-style-type: none;
}

.backgroundlabbox{
    width:450px;
	height:200px;
    background-color: #AFEEEE;
    border-radius: 25px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.backgroundprakbox{
    width:450px;
	height:200px;
    background-color: #d8a860;
    border-radius: 25px;
    margin: 10px;
    position: relative;
    text-align: center;
}